.card {
    @apply relative w-full h-[320px] overflow-hidden rounded-xl; /* full width of grid cell */
}

@media (min-width: 640px) {
    .card {
        height: 340px;
    }
}

@media (min-width: 768px) {
    .card {
        height: 360px;
    }
}

.card-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    object-fit: cover;
    object-position: top;
}

.indicator {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.group-hover-effect {
    padding: 1rem;
    transition: transform 0.3s;
}

.group:hover .group-hover-effect {
    transform: translateY(0.25rem);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.details {
    @apply p-3 space-y-1;
}
